<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>19/04/23 08:48:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/23 08:48:16</td>   <td>5</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteLead.setData()[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/04/23 08:48:16</td>   <td>5</td> <td>&nbsp;</td><td title="&gt;&gt;DuplicateLead.setData()[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/23 08:48:16</td>   <td>5</td> <td>&nbsp;</td><td title="&gt;&gt;EditLead.setData()[pri:0, instance:week1.day3.EditLead@7085bdee]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:48:16</td>   <td>475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/04/23 08:48:30</td>   <td>13697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.CL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">CL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:48:55</td>   <td>39177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:48:57</td>   <td>41497</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/04/23 08:49:06</td>   <td>49978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.CL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">CL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:49:23</td>   <td>67056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:49:25</td>   <td>69374</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/04/23 08:49:33</td>   <td>77164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.CL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">CL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:49:54</td>   <td>97822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:49:56</td>   <td>100318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/23 08:50:03</td>   <td>106898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:50:24</td>   <td>127681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:50:26</td>   <td>130078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/23 08:50:32</td>   <td>136623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:50:53</td>   <td>157612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:50:56</td>   <td>160002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/23 08:51:02</td>   <td>166271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:51:23</td>   <td>186894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:51:25</td>   <td>189331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/04/23 08:51:31</td>   <td>195600</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:51:52</td>   <td>215831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:51:54</td>   <td>218205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/04/23 08:52:01</td>   <td>225026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:52:22</td>   <td>245927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:52:24</td>   <td>248312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/04/23 08:52:31</td>   <td>254761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:52:52</td>   <td>276101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:52:54</td>   <td>278527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/23 08:53:00</td>   <td>284542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.EL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">EL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:53:21</td>   <td>305283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.EditLead@7085bdee]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:53:24</td>   <td>307696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/23 08:53:30</td>   <td>314567</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.EL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">EL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:53:53</td>   <td>337479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.EditLead@7085bdee]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:53:56</td>   <td>339874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/23 08:54:03</td>   <td>347051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.EL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">EL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:54:23</td>   <td>367549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.EditLead@7085bdee]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
</table>
