<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="657fd0">  <td>19/04/23 08:48:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.CL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">CL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/04/23 08:49:06</td>   <td>36281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.CL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">CL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/04/23 08:49:33</td>   <td>63467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLead.CL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">CL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/23 08:50:03</td>   <td>93201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/23 08:50:32</td>   <td>122926</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/23 08:51:02</td>   <td>152574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DeleteLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/04/23 08:51:31</td>   <td>181903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/04/23 08:52:01</td>   <td>211329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/04/23 08:52:31</td>   <td>241064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DuplicateLead.DL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">DL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/23 08:53:00</td>   <td>270845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.EL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">EL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/23 08:53:30</td>   <td>300870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.EL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">EL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/23 08:54:03</td>   <td>333354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditLead.EL(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">EL</td> 
  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:48:55</td>   <td>25480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:49:23</td>   <td>53359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:49:54</td>   <td>84125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:50:24</td>   <td>113984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:50:53</td>   <td>143915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:51:23</td>   <td>173197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:51:52</td>   <td>202134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:52:22</td>   <td>232230</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:52:52</td>   <td>262404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:53:21</td>   <td>291586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.EditLead@7085bdee]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:53:53</td>   <td>323782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.EditLead@7085bdee]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:54:23</td>   <td>353852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week1.day3.EditLead@7085bdee]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="657fd0">  <td>19/04/23 08:48:16</td>   <td>-13697</td> <td>&nbsp;</td><td title="&gt;&gt;CreateLead.setData()[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>19/04/23 08:48:16</td>   <td>-13692</td> <td>&nbsp;</td><td title="&gt;&gt;DeleteLead.setData()[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/04/23 08:48:16</td>   <td>-13692</td> <td>&nbsp;</td><td title="&gt;&gt;DuplicateLead.setData()[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="c7cbad">  <td>19/04/23 08:48:16</td>   <td>-13692</td> <td>&nbsp;</td><td title="&gt;&gt;EditLead.setData()[pri:0, instance:week1.day3.EditLead@7085bdee]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:48:16</td>   <td>-13222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:48:57</td>   <td>27800</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:49:25</td>   <td>55677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.CreateLead@2f686d1f]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:49:56</td>   <td>86621</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:50:26</td>   <td>116381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:50:56</td>   <td>146305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DeleteLead@3fee9989]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:51:25</td>   <td>175634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:51:54</td>   <td>204508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:52:24</td>   <td>234615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.DuplicateLead@73ad2d6]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:52:54</td>   <td>264830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:53:24</td>   <td>293999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>19/04/23 08:53:56</td>   <td>326177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.startApp(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week1.day3.EditLead@7085bdee]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>main@1522311648</td>   <td></td> </tr>
</table>
